@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml" ng-app="ProductsApp">
<head>
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <base href="/" />
</head>
<body>
    <h1>Our Awesome Product Store</h1>

    <ng-view></ng-view>

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/ProductsApp/app.js"></script>
    <script src="~/ProductsApp/controllers.js"></script>

</body>
</html>